<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    xmlns:my="http://jakarta.apache.org/tomcat/jsp2-example-taglib">

    <servlet>
	  	<servlet-name>RegistrationServlet</servlet-name>
	  	<servlet-class>com.mph.servlets.RegistrationServlet</servlet-class>
 	</servlet>
 	<servlet>
		<servlet-name>ConnectionServlet</servlet-name>
		<servlet-class>com.mph.servlets.ConnectionServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DisconnectionServlet</servlet-name>
		<servlet-class>com.mph.servlets.DisconnectionServlet</servlet-class>
	</servlet>
 	<servlet>
	  	<servlet-name>HomeServlet</servlet-name>
	  	<servlet-class>com.mph.servlets.HomeServlet</servlet-class>
  	</servlet>

    <servlet-mapping>
		<servlet-name>RegistrationServlet</servlet-name>
	  	<url-pattern>/registration</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConnectionServlet</servlet-name>
		<url-pattern>/connection</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DisconnectionServlet</servlet-name>
		<url-pattern>/disconnection</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
  		<servlet-name>HomeServlet</servlet-name>
  		<url-pattern>/home</url-pattern>
  	</servlet-mapping>

    <listener>
        <listener-class>com.mph.listeners.SessionListener</listener-class>
    </listener>

    <jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<include-prelude>/WEB-INF/jsp/header.jsp</include-prelude>
			<include-coda>/WEB-INF/jsp/footer.jsp</include-coda>
		</jsp-property-group>
	</jsp-config>

    <session-config>
		<session-timeout>30</session-timeout>
	</session-config>

</web-app>